* {
	margin: 0;
	padding: 0;
}

.wwd {
	width: 80px;
	height: 80px;
	padding-left: 80px;
}

navbar {
	z-index: 999;
	width : 100%;
	position: fixed;
	background-color: #F8E1D4;
	display: flex;
}

navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #F8E1D4;
  display: flex;
  transition: 1s;
}

navbar li {
  flex: 1;
}

navbar li a {
  display: block;
  color: #74764E;
  text-align: center;
  padding: 14px;
  text-decoration: none;
} 

navbar li a:hover {
  background-color: #FFB389;
}
.background {
	min-height: 100vh !important;
	background-size: cover;
	background-image: url(web-02.jpg);
	background-position: center top;
}

.none {
	min-height: 920px;
}

.kotak_1 {
width: 100vw;
height: 800px;
background : #F8E1D4;
}

.kotak_2 {
width: 100vw;
min-height: 236px;

background: #FFD2B8;
}

.kotak_3 { 
position: absolute;
width: 33.33vw;
height: 183px;
background: #FFC5A5;
 }

.kotak_4 { 
position: absolute;
width: 33.33vw;
height: 183px;
 }

.kotak_5 { 
position: absolute;
width: 33.33vw
height: 183px;
background: #FFB389;
}

.kotak_6 {
position: absolute;
width: 100vw;
height: 201px;

background: #A6A078;
}

.kotak_7 {
position: absolute;
width: 100vw;
height: 201px;

background: #5B5E26;
}

.orang {
width:500px;
}

.socmed{
	width: 62px;
	height: 58px;
}

.about {
	position: fixed;
	opacity: 0;
	top:10vh;
	transition: 1s;
}
.about_foto {
width: 625px;
height: 488px;
left: 95px;
top: 1887px;
filter: drop-shadow(3px 4px 7px rgba(0, 0, 0, 0.25)); 
}

.logo {
	width:60%;
	display: block;
}

.container {
	width: 40%;
	margin : 5%;
	float: left;
}

.involved {
width: 450px;
height: 30px;
margin: auto;
background: #A0B04C;
border-radius: 30px;
}

.button2 {
	width: 397.55px;
	height: 62.21px;

	background: #F1C398;
	border-radius: 30px;
}

.desktop{
    display: block;
    width: 100vw;
    left : -5px;
 }

.mobile {
  display: none;
}

.flex-container {
    display: flex;
    width: 100%;
}
.flex-child {
    flex: 1;
}

.flex-child-1 {
    flex: 2;
}

.flex-child-2 {
    flex: 8;
}

footer {
	width: 100%;
}

@media (max-width: 1000px) {
    navbar ul {
      position: fixed;
      flex-direction: column;
      top:80px;
    }
    .nav-toggle{
      display: block!important;
    }
    #nav-links{
      left:-500px;
    }
    .nav-brand {
        text-align: center;
    }
}

.nav-toggle{
  display: none;
}

@media (max-width:  576px) {

button {
	width: 195px;
	height: 54px;

	background: #A0B04C;
	border-radius: 30px;
}
.button2 {
	width: 262px;
	height: 41px;
	
	}

.wwd {
	width: 200px;
	padding-left: 140px;
}


.involved {
width: 195px;
height: 54px;

}

.about_foto {
width: 400px;
height: 310px;

filter: drop-shadow(3px 4px 7px rgba(0, 0, 0, 0.25)); 
}
.none {
	min-height: 1300px;
}

 .img_mobile {
    display: block;
    width: 100vw;
  }
  .img_desktop {
  display: none;
}
.flex-container {
        flex-direction: column;
    }

.judul2 {
 	width: 600px;
 }

.nav-toggle{
      display: block;
    }
 #nav-links{
      left:0px;
    }
}