* {
	margin: 0;
	padding: 0;
}

nav {
position: absolute;
width: 1440px;
height: 84px;
left: 0px;
top: -1px;

background: rgba(248, 225, 212, 0.7);
}

.kotak_1 {
position: absolute;
width: 100vw;
height: 370px;
left: -2px;
top: 2058px;
}

.kotak_2 {
position: absolute;
width: 100vw;
height: 236px;
left: 0px;
top: 2427px;

background: #FFD2B8;
}

.kotak_3 { 
position: absolute;
width: 33.33vw;
height: 183px;
background: #FFC5A5;
 }

.kotak_4 { 
position: absolute;
width: 33.33vw;
height: 183px;
background: #FFBC97;
 }

.kotak_5 { 
position: absolute;
width: 33.33vw
height: 183px;
background: #FFB389;
}

.kotak_6 {
position: absolute;
width: 100vw;
height: 201px;

background: #A6A078;
}

.kotak_7 {
position: absolute;
width: 100vw;
height: 201px;

background: #5B5E26;
}

.orang {
width:500px;
}

.socmed{
	width: 62px;
	height: 58px;
}

.about_foto {
width: 625px;
height: 488px;
left: 95px;
top: 1887px;
filter: drop-shadow(3px 4px 7px rgba(0, 0, 0, 0.25)); 
}

.logo {
	width:60%;
	display: block;
}

.container {
	width: 40%;
	margin : 5%;
	float: left;
}

button {
width: 530px;
height: 69px;

background: #A0B04C;
border-radius: 30px;
}

.button2 {
	width: 397.55px;
	height: 62.21px;

	background: #F1C398;
	border-radius: 30px;
}



@media (max-width:  576px) {

button {
	width: 195px;
	height: 54px;

	background: #A0B04C;
	border-radius: 30px;
}
.button2 {
	width: 262px;
	height: 41px;
	}
}